@model TicketsLostPastDue.Models.ViewModelTicketDetail

@{
    ViewBag.Title = "The Inspection is Lost";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<style type="text/css">
    .inspectdtl {
        -moz-box-shadow: 0 0 2px black;
        -webkit-box-shadow: 0 0 2px black;
    }
    #competitorothertxt
    {
        display: none;
    }
    span.field-validation-error{
        background: red;
        color: black;
    }
    </style>

<div class="container">
   

@using (Html.BeginForm("Lost", "Home", FormMethod.Post, new { ticketmodel = Model, onsubmit = "validate()" }))

{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        @Html.Partial("TicketDetailWithInspection")

        <div class="inspectdtl">
            @*<input id="allcheckbox" type="checkbox" name="inspect" value="All" />*@
            <p><b>Mark any other inspections that you want to include in the process</b></p>

            @{
            if (!Model.sysinsp.Any())
            {
                <p>No Additional Inspections found for this Service Company</p>
        }
        else
        {
            <table id="InspectionDtl" class="inspect">
                <thead>
                    <tr>
                        <th></th>
                        <th class="col-md-3 col-xs-3">Cycle</th>
                        <th class="col-md-3 col-xs-3">System</th>
                        <th class="col-md-3 col-xs-3">Next Inspection</th>
                        <th class="col-md-3 col-xs-3">Last Inspection</th>
                    </tr>
                </thead>
                @if (Model.sysinsp != null)
            {

                for (var i = 0; i < Model.sysinsp.Count(); i++)
                {


                    <tr>
                        <td>
                            @Html.HiddenFor(m => m.sysinsp[i].inspectionid)
                            @Html.HiddenFor(m => m.sysinsp[i].syscode)
                            @Html.HiddenFor(m => m.sysinsp[i].nextinpdate)
                            @Html.HiddenFor(m => m.sysinsp[i].lastinpdate)
                            @Html.HiddenFor(m => m.sysinsp[i].customer_system_id)
                            @Html.HiddenFor(m => m.sysinsp[i].inspcycldesc)
                            @Html.HiddenFor(m => m.sysinsp[i].routecode)
                            @Html.HiddenFor(m => m.sysinsp[i].routeid)
                            @Html.CheckBoxFor(m => m.sysinsp[i].IsSelected)
                            @*@Html.EditorFor(m => m.sysinsp[i].inspectionid)*@
                            <input type="hidden" name="inspectionid" id="inspectionid" value="m.sysinsp[i].inspectionid" />
                        </td>
                        <td class="col-md-3 col-xs-3">
                            @Html.DisplayFor(m => m.sysinsp[i].inspcycldesc)
                        </td>
                        <td class="col-md-3 col-xs-3">
                            @Html.DisplayFor(m => m.sysinsp[i].syscode)
                        </td>
                        <td class="col-md-3 col-xs-3">
                            @Html.DisplayFor(m => m.sysinsp[i].nextinpdate)
                        </td>
                        <td class="col-md-3 col-xs-3">
                            @Html.DisplayFor(m => m.sysinsp[i].lastinpdate)
                        </td>
                    </tr>
            }
        }

            </table>
    }
            }
        </div>
        <br />
        <br />


        @*editfor here*@

        @Html.HiddenFor(model => model.apit.CustomerSystemId)
        @Html.HiddenFor(model => model.apit.InspectionId)
        @Html.HiddenFor(model => model.apit.ServiceTicketId)
        @Html.HiddenFor(model => model.apit.Site.SiteNumber)
        @Html.HiddenFor(model => model.apit.Customer.CustomerNumber)
        @Html.HiddenFor(model => model.apit.SystemCode)
        @Html.HiddenFor(model => model.tickinspectdesc)
        @Html.HiddenFor(model => model.apit.TicketNumber)
        @Html.HiddenFor(model => model.apit.Site.Address1)
        @Html.HiddenFor(model => model.apit.Site.State)
        @Html.HiddenFor(model => model.apit.Site.City)
        @Html.HiddenFor(model => model.apit.Site.Zip)
        @Html.HiddenFor(model => model.apit.RouteCode)
        @Html.HiddenFor(model => model.tcktroutecode)
        @Html.HiddenFor(model => model.tcktrouteid)
        @*   @Html.HiddenFor(model => model.apit.) *@


        <label>Select the competitor that we lost the inspection to:</label>
        @Html.DropDownListFor(m => m.Selectedcompetitor, new SelectList(Model.competitorslist, "Userdef_8_Code", "Userdef_8_Code", 0), "Please select a competitor")

        @Html.ValidationMessageFor(m => m.Selectedcompetitor)
        @*@Html.HiddenFor(model => model.Selectedcompetitor)*@
        <div>
            @*<label class="col-md-3 col-xs-3 control-label" for="sitenumber">Site:</label>
            <div class=" col-md-3 col-xs-3">
                <input id="sitenumber" readonly value="@Model.apit.Site.SiteNumber" />
            </div>*@
            <label id="competitorothertxtlbl" style="display:none" name="competitorothertxtlbl" for="competitorothertxt"> Enter another competitor </label>
            @Html.TextBoxFor(m => m.competitorothertxt)
            @* <input id="competitorothertxt" type="text" maxlength="50" name="competitorothertxt" style="display:none" /> *@
            @Html.ValidationMessageFor(m => m.competitorothertxt)
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
        <div class="col-md-6 col-xs-6">
            <p>If other inspections are listed above, only check the box to mark them LOST if we have lost the KIT and also do the FE or EE.</p>
        </div>
    </div>
}
  
</div>
@section Scripts 
{
<script type="text/JavaScript">
      $(document).ready(function () {
          $('#Selectedcompetitor').change(function (e) {
          //    alert($('#Selectedcompetitor').val());
              if ($(this).val() === "Other") {
                  $('#competitorothertxt').css('display' , 'inline');
                  $('#competitorothertxtlbl').css('display', 'inline');
              }
              else {
                  $('#competitorothertxt').css('display', 'none');
                  $('#competitorothertxtlbl').css('display', 'none');
              }
          });
        
    });
    function validate() {
        if ($('#competitorothertxt').is(':visible')) {
            if ($('#competitorothertext').val() == "") {
                alert('Other Competitor must be fille in')

            }

        }

    }
</script>
}

